{% extends 'food/base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock %}

{% block content %}

    <div class="container-fluid p-5 d-flex justify-content-center align-items-center" style="background-color: #ffffff; margin-top: 10px;">
        <div class="rounded-container p-5 text-dark rounded" style="width: 400px; background-color: #ffffff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            <h3 class="text-center mb-4">Reset Password</h3>
            <form method="POST">
                {% csrf_token %}

                <!-- Display error message if any -->
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <input type="email" name="email" id="id_email" class="form-control" placeholder="Email" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
